<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!-- 
  一些额外的汉化的文本。
  -->

  <!-- 额外GameText -->
  <ExtraGameText Key="Dismiss Character">解职</ExtraGameText>
  <ExtraGameText Key="Next Page">下一页</ExtraGameText>
  <ExtraGameText Key="Previous Page">上一页</ExtraGameText>

  <!-- 额外Hint -->
  <ExtraHint>汉化补丁的chs目录下的Patch.config为配置文件，修改它可以自定义汉化风格</ExtraHint>
</Config>