<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!-- 
  一些额外的汉化的文本。
  -->

  <!-- 额外GameText -->
  <ExtraGameText Key="Dismiss Character">解职</ExtraGameText>
  <ExtraGameText Key="Next Page">下一页</ExtraGameText>
  <ExtraGameText Key="Previous Page">上一页</ExtraGameText>

  <!-- 额外Hint -->
  <ExtraHint>汉化补丁的chs目录下的Patch.config为配置文件，修改它可以自定义汉化风格</ExtraHint>

  <!-- 组件类型缩写 -->
  <ComponentCategoryAbbr Key="AreaShieldRecharge">盾充</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Armor">装甲</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="AssaultPod">登舰</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="CargoBay">货仓</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Colonization">殖民</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="CommandCenter">舰桥</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="CommerceCenter">商业</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Construction">建造</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Countermeasures">闪避</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="CountermeasuresFleet">群闪</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="CrewQuarters">宿舍</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="DamageControl">损管</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="DockingBay">空港</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="EnergyCollector">辅能</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="EnergyToFuel">造油</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Engine">推进</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="EngineVectoring">转向</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Extractor">采矿</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="RemoteFuelTransfer">输油</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="FighterBay">战机</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="FuelStorage">油箱</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="HyperBlock">阻跳</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="HyperDeny">反跳</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="HyperDrive">跃迁</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="IonDefense">防瘫</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="MedicalCenter">医疗</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="PassengerCompartment">载客</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Reactor">能量</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="RecreationCenter">娱乐</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ResearchLab">科研</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerEmpireMasking">匿名</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerExploration">探索</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerExplorationSurvey">勘探</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerJammer">干扰</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerJumpTracking">跳感</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerLongRange">远感</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerShortRange">近感</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerRoleMasking">伪装</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ScannerTrace">追踪</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Shields">护盾</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="ShieldEnhancement">盾强</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="Stealth">隐形</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="TargetingComputer">命中</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="TargetingComputerFleet">群中</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="TractorBeam">牵引</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="TroopCompartment">陆军</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponArea">范围</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponBombard">轰炸</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponCloseIn">近程</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponIntercept">拦截</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponIon">瘫痪</ComponentCategoryAbbr>
  <ComponentCategoryAbbr Key="WeaponStandoff">远程</ComponentCategoryAbbr>
</Config>