<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!-- 
  此为汉化插件的配置文件，你可以按照自己的喜好来调整一些功能，比如是否汉化国家名、是否在船名后添加汉语表示船名的“号”字。
  false为关闭功能。
  true为开启功能。
  -->

  <SkipAvailableRaceCheck>false</SkipAvailableRaceCheck> <!-- 如果在开始新游戏时无法选择种族（种族头像变灰）的话，可以尝试将此项改为true。 -->
  
  <EnableTextBoxPaste>true</EnableTextBoxPaste> <!-- 允许在文本框中使用Ctrl+V来粘贴文本。 -->
  
  <FixChineseTextWrap>true</FixChineseTextWrap> <!-- 修复游戏引擎的中文长文本换行Bug，建议开启。 -->
  
  <FontCacheTextureSize>4096</FontCacheTextureSize> <!-- 引擎的字形缓存大小，游戏默认值为1024，这里建议改为4096或8192。太奇怪的数值会导致游戏无法启动。 -->
  
  <EnableChineseRandomName>true</EnableChineseRandomName> <!-- 汉化星球名称与帝国名称，建议开启，否则AI国名可能会变成很难看的中英混杂形式。 -->
  
  <EnableChineseRandomShipName>true</EnableChineseRandomShipName> <!-- 汉化舰船名字，关闭后船名将为英文，注意这只影响普通船只的名字，特殊船只（如歼星舰）、空间站以及通过事件获得的船始终是中文船名。. -->
  
  <EnableChineseOrdinalNumber>true</EnableChineseOrdinalNumber> <!-- 汉化序数词。（如1st -> 第1） -->
  
  <EnableChineseComponentCategoryAbbr>true</EnableChineseComponentCategoryAbbr> <!-- 使用中文的组件类型缩写。（如SHD -> 护盾） -->
  
  <RemoveStarNamePostfix>true</RemoveStarNamePostfix> <!-- 移除恒星名称后的后缀，如果关闭此项的话，游戏中会出现诸如“黑洞 恒星”、“主序星 恒星”、“白矮星 恒星”之类的不便于阅读的文本。 -->
  
  <SeparatorBetweenPersonName>·</SeparatorBetweenPersonName> <!-- 汉化人名时姓与名之间的间隔符，改为空格即为游戏原版的风格。 -->
  
  <PostfixForRandomShipName>号</PostfixForRandomShipName> <!-- 飞船名的后缀，只影响普通船只，不影响特殊船只，改为空的话即为不添加后缀，要求开启汉化舰船名字功能。 -->
  
  <OptimizeOrbModel>true</OptimizeOrbModel> <!-- 优化星体模型，原版游戏的星体模型面数极为夸张，星球模型有12,000个三角面，黑洞模型有多达200,000个三角面，并且游戏没有视锥裁剪功能和LOD功能，无论你的镜头朝向何处，游戏始终会渲染所有天体的高模。打开此项后会将星球模型减面至4,000个三角面，黑洞模型减面到14,000个三角面，降低渲染开销。 -->
  
  <OptimizeShipTexture>true</OptimizeShipTexture> <!-- 优化船体贴图，游戏大量使用2K或4K尺寸的贴图，然而在游戏中玩家很少会仔细近距离观察星舰，巨大的纹理体积还会占用更多显存，对纹理串流系统产生过多负担。此功能会限制贴图尺寸，非空间站的船体贴图会限制在1K尺寸，空间站的船体贴图会限制在2K尺寸，能大幅减少显存开销，减少切换镜头时崩溃的可能。 -->
  
  <OptimizeOtherTexture>true</OptimizeOtherTexture> <!-- 优化其他贴图，用途类似上一项，只不过针对的是非船体贴图，会酌情降低游戏中一些过度精细的贴图的尺寸，比如小行星上的4K贴图，古有SquareEnix 4K贴图做食物，今有CodeForce 4K贴图做陨石，嘉然今天不吃雅莱士，只吃陨石！ -->
</Config>